* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}

body {
  background-color: hsl(47, 88%, 63%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 380px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 8px 8px 0px black;
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.tag {
  display: inline-block;
  background-color: hsl(47, 88%, 63%);
  padding: 6px 12px;
  font-weight: 800;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 20px;
}

.date {
  font-size: 14px;
  margin: 12px 0;
  color: hsl(0, 0%, 7%);
}

h2 {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 12px;
  cursor: pointer;
}

h2:hover {
  color: hsl(47, 88%, 63%);
}

.description {
  font-size: 16px;
  color: hsl(0, 0%, 42%);
  line-height: 1.5;
  margin-bottom: 20px;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 800;
  font-size: 14px;
}

.author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
