:root {
  /* CSS Variables */
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 42%);
  --black: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}

body {
  background-color: var(--yellow);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card {
  background-color: var(--white);
  width: min(24rem, 100%);
  padding: clamp(1rem, 2vw, 1.5rem);
  border-radius: 1.25rem;
  border: 0.0625rem solid var(--black);
  box-shadow: 0.5rem 0.5rem 0 var(--black);
}

.card img {
  width: 100%;
  border-radius: 0.75rem;
}

.tag {
  display: inline-block;
  background-color: var(--yellow);
  padding: 0.375rem 0.75rem;
  font-weight: 800;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  margin-block-start: 1.25rem;
}

.date {
  font-size: 0.875rem;
  margin-block: 0.75rem;
  color: var(--black);
}

h2 {
  font-size: 1.375rem;
  font-weight: 800;
  margin-block-end: 0.75rem;
  cursor: pointer;
}

h2:hover {
  color: var(--yellow);
}

.description {
  font-size: 1rem;
  color: var(--gray);
  line-height: 1.5;
  margin-block-end: 1.25rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 800;
  font-size: 0.875rem;
}

.author img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
